.container {
  height: 20vh;
  display: flex;
  align-items: center;
  border-bottom: solid black 1px;
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.heading-container {
  width: 50%;
  display: flex;
  justify-content: center;
}
.heading {
  transition: 0.2s;
}
.heading:hover {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
.link-container {
  width: 50%;
  display: flex;
  justify-content: center;
}
.link {
  margin: 10px;
  text-decoration: none;
}
.link:hover {
  color: blue;
}
