<nav class="container">
  <div class="navbar-heading--container">
    <a href="#" class="heading">Recipes.com</a>
    <div class="link-container">
      <a href="#" class="link">Recipes</a>
      <a href="#" class="link">Shopping List</a>
    </div>
  </div>
  <div class="dropdown-container">
    <div
      (click)="isDroppedDown = !isDroppedDown"
      [ngClass]="{ dropdownSlow: isDroppedDown === true }"
      class="dropdown"
    >
      Manage

      <a
        href="#"
        (click)="onListItemClicked($event)"
        *ngIf="isDroppedDown === true"
        class="list-item"
      >
        Save Data
      </a>
      <a
        href="#"
        (click)="onListItemClicked($event)"
        *ngIf="isDroppedDown === true"
        class="list-item"
      >
        Fetch Data
      </a>
    </div>
  </div>
</nav>
